
<header class="header">
  <nav class="navBar">
    <h2 id="type1" class="SciFiReads"></h2>
    <h2 id="type2" class="sub_intro"></h2>
  </nav>
</header>
<!-- Turn pages. Find adventure. -->

<canvas id="q" class="matrix" width="1000" height="618"></canvas>

<div class="new_box">
  <h2 class="sign_type"><%= sign_type %></h2>

  <form action="<%= form_action %>" class="new_form" method="post">
    <%= auth_token_input %>

    <label for="username" class="new_submission" >
      Username:
      <input type="text" class="text_input" name="user[username]" value="">
    </label>

    <label for="password" class="new_submission" >
      Password:
      <input type="password" class="text_input" name="user[password]" value="">
    </label>

    <input type="submit"  class="new_submission" value="<%= sign_type %>">

  </form>

  <div class="new_sub_text">
    <div class ="new_left_sub_text">
      Sign in as Guest
    </div>

    <div class="new_right_sub_text">
      <%= link_to link_to_text, opposite_form_action %>
    </div>
  </div>

</div>
